[Unit]
Description = Back End Api Server

[Service]
WorkingDirectory=/opt/back-end-api-service
ExecStart=/root/dotnet/dotnet /opt/back-end-api-service/Back.dll
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target