[Unit]
Description = Electric Power Monitor Service

[Service]
WorkingDirectory=/opt/electric-power-monitor-service
ExecStart=/root/dotnet/dotnet /opt/electric-power-monitor-service/ElectricPowerMonitorService.dll
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target