[Unit]
Description = Scraping Service

[Service]
WorkingDirectory=/opt/scraping-service
ExecStart=dotnet /opt/scraping-service/ScrapingService.dll
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target